In [19]:
sal=int(input("enter salary:"))
if sal>40000:
     print("eligible for M")
else:
     print("not eligible")

enter salary: 2000000

eligible for M

In [18]:
#check if the given number is a three digit number
num=int(input("enter the number:"))
if num>=100 and num<=999:
    print("is a three digit number")
else:
    print("is not a three digit number")

enter the number: 500

is a three digit number

In [21]:
#elif
num=int(input("enter a number"))
if num>=100 and num<=999:
    print("is a three digit number")
else if:
    
else:
    print("is not a three digit number")

enter a number 400

is a three digit number

In [28]:
  #for in
ename='Rahul'                    #string
enames=['Rahul','Sonia','priya'] #list
t=(10,20,30,40)            #tuple
eids={101,102,103,104}    #set
emp={'id':101,            #dict
     'name':'Raj',
     'sal':45000}
range(5,50,5)             #range


for ele in t:
    print(ele)
    pass
for ename in enames:
    print(ename)
for eid in eids:
    print(eid)
for ele in emp:
    print(ele)
for ele in range(5,50,5):
    print(ele)

10
20
30
40
Rahul
Sonia
priya
104
101
102
103
id
name
sal
5
10
15
20
25
30
35
40
45

In [30]:
#print 1-10
for ele in range(1,11,1):
    print (ele)

1
2
3
4
5
6
7
8
9
10

In [32]:
#print 100-51
for ele in range(100,50,-1):
    print(ele)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [35]:
#5 table
for i in range(1,11):
    print(5,'*',i,'=',5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [44]:
#print first 10 even nos
for x in range(0,19,2):
    print (x, end="\t")

0	2	4	6	8	10	12	14	16	18

In [57]:
#dict
emp={'id':101,            
     'name':'Raj',
     'sal':45000}
for key,value in emp.items():
    print(key,':',value)

id : 101
name : Raj
sal : 45000