In [1]:
d={}
print(type(d))

<class 'dict'>

In [6]:
d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d)
print(type(d))

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}
<class 'dict'>

In [9]:
d={'eid':101,           #duplicate keys are not allowed BUT duplicate values are allowed
   'eid':102,
   'eid':103,
   'eid':104}
print(d)
d={'eid':101,           #duplicate keys are not allowed BUT duplicate values are allowed
   'eids':101,
   'eidss':101,
   'eidsss':101}
print(d)

{'eid': 104}
{'eid': 101, 'eids': 101, 'eidss': 101, 'eidsss': 101}

In [14]:
d={'eid':101,           
   'eid':102,
   'eid':103,
   'eid':104
  }
print(d[1])         #indexing concept is not applicable

KeyError: 1

In [16]:
#print all dict values

d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d['eid'])
print(d['ename'])
print(d['esal'])
print(d['avail'])                         #to read dict values

101
Rahul
45000.45
True

In [20]:
d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d.get('eid'))
print(d.get('enames'))
print(d.get('esal'))
print(d.get('avail'))

101
None
45000.45
True

In [24]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for x in emp:
    print(x)

eid
ename
esal
avail

In [30]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for key in emp.keys():                     #using .key method or fnc in for loop
    print(key)

eid
ename
esal
avail

In [34]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for values in emp.values():           #using .values method or fnc in for loop
    print(values)

101
Rahul
45000.45
True

In [38]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for items in emp.items():                 #using .items method or fnc in for loop
    print(items)

('eid', 101)
('ename', 'Rahul')
('esal', 45000.45)
('avail', True)

In [4]:
#create
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
}
#read
print(emp['eid'])
print(emp.get('eid'))
print(emp['loc'])

101
101

KeyError: 'loc'

In [5]:
emp={'Rahul':45000,
     'Sonia':45000,
     'Priya':55000,
    }

In [10]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
}
#to read key and values from a dict  .keys .value  .items 
for key in emp.keys():                     
    print(key)
for value in emp.values():
    print(value)
for item in emp.items():
    print(item)
for key,value in emp.items():
    print(key,':',value)

eid
ename
esal
101
Rahul
45000.45
('eid', 101)
('ename', 'Rahul')
('esal', 45000.45)
eid : 101
ename : Rahul
esal : 45000.45

In [16]:
#update
emp={}
emp['ename']="Rahul"
print(emp)

emp.update({'eid':101})     #using .update method
print(emp)

{'ename': 'Rahul'}
{'ename': 'Rahul', 'eid': 101}

In [19]:
emp={'eid':101}
value=emp.setdefault('eid',102)    #using .setdefault method (rarely used)
print(value) #if specified key is not present it is going to add it if specified key is available then it does nothing but sets default
print(emp)

101
{'eid': 101}

In [21]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
}
x=emp.pop('eid')     #removes only the specified key and its value
print(emp)
print(x)

{'ename': 'Rahul', 'esal': 45000.45}
101

In [22]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
}
emp.popitem()             #removes last key and value
print(emp)

{'eid': 101, 'ename': 'Rahul'}

In [27]:
users=[{"id":1,"name":"Enoch","gender":"Male","sal":"$65026.54"},
{"id":2,"name":"Othelia","gender":"Female","sal":"$50954.46"},
{"id":3,"name":"Winne","gender":"Female","sal":"$64369.87"},
{"id":4,"name":"Cornelia","gender":"Female","sal":"$50258.01"},
{"id":5,"name":"Burg","gender":"Male","sal":"$69564.22"},
{"id":6,"name":"Ewan","gender":"Male","sal":"$50537.29"},
{"id":7,"name":"Armando","gender":"Male","sal":"$50507.06"},
{"id":8,"name":"Cyrus","gender":"Male","sal":"$66446.63"},
{"id":9,"name":"Eilis","gender":"Female","sal":"$42468.13"},
{"id":10,"name":"Josiah","gender":"Male","sal":"$54766.32"},
{"id":11,"name":"Lyn","gender":"Female","sal":"$48764.36"},
{"id":12,"name":"Padraic","gender":"Male","sal":"$46773.48"},
{"id":13,"name":"Cameron","gender":"Male","sal":"$56835.67"},
{"id":14,"name":"Henri","gender":"Male","sal":"$67052.93"},
{"id":15,"name":"Artemas","gender":"Male","sal":"$42625.94"},
{"id":16,"name":"Timoteo","gender":"Male","sal":"$59732.64"},
{"id":17,"name":"Cristabel","gender":"Female","sal":"$50106.38"},
{"id":18,"name":"Carlita","gender":"Non-binary","sal":"$66005.09"},
{"id":19,"name":"Ignacio","gender":"Male","sal":"$40121.77"},
{"id":20,"name":"Vincent","gender":"Male","sal":"$59513.74"},
{"id":21,"name":"Dione","gender":"Female","sal":"$46614.46"},
{"id":22,"name":"Georgiana","gender":"Female","sal":"$53383.54"},
{"id":23,"name":"Lidia","gender":"Female","sal":"$62501.05"},
{"id":24,"name":"Lambert","gender":"Male","sal":"$41347.36"},
{"id":25,"name":"Elayne","gender":"Female","sal":"$50497.62"},
{"id":26,"name":"Francoise","gender":"Female","sal":"$64627.79"},
{"id":27,"name":"Clea","gender":"Female","sal":"$43931.43"},
{"id":28,"name":"Robb","gender":"Male","sal":"$66087.16"},
{"id":29,"name":"Shannon","gender":"Female","sal":"$63223.96"},
{"id":30,"name":"Bertha","gender":"Female","sal":"$61799.50"},
{"id":31,"name":"Rycca","gender":"Female","sal":"$43159.72"},
{"id":32,"name":"Bartlet","gender":"Male","sal":"$51004.65"},
{"id":33,"name":"Sammy","gender":"Male","sal":"$51976.23"},
{"id":34,"name":"Celina","gender":"Female","sal":"$49472.17"},
{"id":35,"name":"Krissie","gender":"Bigender","sal":"$58247.40"},
{"id":36,"name":"Emory","gender":"Male","sal":"$68210.19"},
{"id":37,"name":"Reid","gender":"Male","sal":"$41639.80"},
{"id":38,"name":"Teresita","gender":"Female","sal":"$61277.19"},
{"id":39,"name":"Alleyn","gender":"Male","sal":"$55212.68"},
{"id":40,"name":"Micheline","gender":"Genderqueer","sal":"$43174.73"},
{"id":41,"name":"Abram","gender":"Male","sal":"$58775.62"},
{"id":42,"name":"Fabian","gender":"Male","sal":"$67209.70"},
{"id":43,"name":"Alan","gender":"Male","sal":"$57560.06"},
{"id":44,"name":"Christophorus","gender":"Male","sal":"$40006.20"},
{"id":45,"name":"Hedy","gender":"Female","sal":"$54944.03"},
{"id":46,"name":"Sioux","gender":"Female","sal":"$54597.37"},
{"id":47,"name":"Karoly","gender":"Female","sal":"$53322.47"},
{"id":48,"name":"Burl","gender":"Male","sal":"$52233.55"},
{"id":49,"name":"Jarid","gender":"Male","sal":"$48799.38"},
{"id":50,"name":"Wallie","gender":"Female","sal":"$50829.34"},
{"id":51,"name":"Katy","gender":"Female","sal":"$53988.60"},
{"id":52,"name":"Saree","gender":"Female","sal":"$43480.88"},
{"id":53,"name":"Marcille","gender":"Female","sal":"$63263.57"},
{"id":54,"name":"Adham","gender":"Male","sal":"$41712.81"},
{"id":55,"name":"Otes","gender":"Agender","sal":"$44839.55"},
{"id":56,"name":"Mallory","gender":"Female","sal":"$66627.38"},
{"id":57,"name":"Lishe","gender":"Female","sal":"$47719.97"},
{"id":58,"name":"Clarissa","gender":"Female","sal":"$46828.87"},
{"id":59,"name":"Krystyna","gender":"Female","sal":"$51854.70"},
{"id":60,"name":"Parke","gender":"Non-binary","sal":"$59845.61"},
{"id":61,"name":"Myrwyn","gender":"Male","sal":"$65609.13"},
{"id":62,"name":"Bev","gender":"Male","sal":"$50892.26"},
{"id":63,"name":"Arther","gender":"Male","sal":"$64235.16"},
{"id":64,"name":"Bennie","gender":"Female","sal":"$52738.15"},
{"id":65,"name":"Jarred","gender":"Male","sal":"$67802.56"},
{"id":66,"name":"Theodore","gender":"Male","sal":"$65228.60"},
{"id":67,"name":"Constanta","gender":"Female","sal":"$47946.17"},
{"id":68,"name":"Goldi","gender":"Female","sal":"$52207.31"},
{"id":69,"name":"Steffane","gender":"Female","sal":"$60941.69"},
{"id":70,"name":"Donalt","gender":"Male","sal":"$46643.40"},
{"id":71,"name":"Port","gender":"Male","sal":"$40930.91"},
{"id":72,"name":"Gage","gender":"Male","sal":"$67340.99"},
{"id":73,"name":"Janaye","gender":"Female","sal":"$59620.18"},
{"id":74,"name":"Brandie","gender":"Female","sal":"$54530.43"},
{"id":75,"name":"Maisey","gender":"Female","sal":"$68707.08"},
{"id":76,"name":"Lishe","gender":"Female","sal":"$44157.75"},
{"id":77,"name":"Errol","gender":"Genderfluid","sal":"$67342.84"},
{"id":78,"name":"Jada","gender":"Female","sal":"$69254.13"},
{"id":79,"name":"Kenn","gender":"Male","sal":"$69584.86"},
{"id":80,"name":"Winston","gender":"Male","sal":"$45793.16"},
{"id":81,"name":"Lind","gender":"Female","sal":"$66940.16"},
{"id":82,"name":"Dominick","gender":"Male","sal":"$65990.19"},
{"id":83,"name":"Arabela","gender":"Female","sal":"$63303.12"},
{"id":84,"name":"Bill","gender":"Bigender","sal":"$57234.06"},
{"id":85,"name":"Lilias","gender":"Female","sal":"$66533.11"},
{"id":86,"name":"Drusy","gender":"Female","sal":"$60808.69"},
{"id":87,"name":"Jordanna","gender":"Female","sal":"$45632.72"},
{"id":88,"name":"Ynez","gender":"Female","sal":"$61459.28"},
{"id":89,"name":"Eustacia","gender":"Female","sal":"$64902.81"},
{"id":90,"name":"Lishe","gender":"Female","sal":"$67202.78"},
{"id":91,"name":"Francine","gender":"Female","sal":"$40971.00"},
{"id":92,"name":"Chrystel","gender":"Female","sal":"$62536.31"},
{"id":93,"name":"Knox","gender":"Male","sal":"$53173.29"},
{"id":94,"name":"Brendan","gender":"Male","sal":"$47957.88"},
{"id":95,"name":"Shermy","gender":"Male","sal":"$66371.12"},
{"id":96,"name":"Loren","gender":"Male","sal":"$48245.18"},
{"id":97,"name":"Emelda","gender":"Female","sal":"$41994.10"},
{"id":98,"name":"Fanechka","gender":"Female","sal":"$51168.69"},
{"id":99,"name":"Meade","gender":"Male","sal":"$55144.26"},
{"id":100,"name":"Marcie","gender":"Bigender","sal":"$46758.53"}]

for user in users:
    print(user['name'])
    print(user['id'])

Enoch
1
Othelia
2
Winne
3
Cornelia
4
Burg
5
Ewan
6
Armando
7
Cyrus
8
Eilis
9
Josiah
10
Lyn
11
Padraic
12
Cameron
13
Henri
14
Artemas
15
Timoteo
16
Cristabel
17
Carlita
18
Ignacio
19
Vincent
20
Dione
21
Georgiana
22
Lidia
23
Lambert
24
Elayne
25
Francoise
26
Clea
27
Robb
28
Shannon
29
Bertha
30
Rycca
31
Bartlet
32
Sammy
33
Celina
34
Krissie
35
Emory
36
Reid
37
Teresita
38
Alleyn
39
Micheline
40
Abram
41
Fabian
42
Alan
43
Christophorus
44
Hedy
45
Sioux
46
Karoly
47
Burl
48
Jarid
49
Wallie
50
Katy
51
Saree
52
Marcille
53
Adham
54
Otes
55
Mallory
56
Lishe
57
Clarissa
58
Krystyna
59
Parke
60
Myrwyn
61
Bev
62
Arther
63
Bennie
64
Jarred
65
Theodore
66
Constanta
67
Goldi
68
Steffane
69
Donalt
70
Port
71
Gage
72
Janaye
73
Brandie
74
Maisey
75
Lishe
76
Errol
77
Jada
78
Kenn
79
Winston
80
Lind
81
Dominick
82
Arabela
83
Bill
84
Lilias
85
Drusy
86
Jordanna
87
Ynez
88
Eustacia
89
Lishe
90
Francine
91
Chrystel
92
Knox
93
Brendan
94
Shermy
95
Loren
96
Emelda
97
Fanechka
98
Meade
99
Marcie
100