In [1]:
d={}
print(type(d))

<class 'dict'>

In [6]:
d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d)
print(type(d))

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}
<class 'dict'>

In [9]:
d={'eid':101,           #duplicate keys are not allowed BUT duplicate values are allowed
   'eid':102,
   'eid':103,
   'eid':104}
print(d)
d={'eid':101,           #duplicate keys are not allowed BUT duplicate values are allowed
   'eids':101,
   'eidss':101,
   'eidsss':101}
print(d)

{'eid': 104}
{'eid': 101, 'eids': 101, 'eidss': 101, 'eidsss': 101}

In [14]:
d={'eid':101,           
   'eid':102,
   'eid':103,
   'eid':104
  }
print(d[1])         #indexing concept is not applicable

KeyError: 1

In [16]:
#print all dict values

d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d['eid'])
print(d['ename'])
print(d['esal'])
print(d['avail'])                         #to read dict values

101
Rahul
45000.45
True

In [20]:
d={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
print(d.get('eid'))
print(d.get('enames'))
print(d.get('esal'))
print(d.get('avail'))

101
None
45000.45
True

In [24]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for x in emp:
    print(x)

eid
ename
esal
avail

In [30]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for key in emp.keys():                     #using .key method or fnc in for loop
    print(key)

eid
ename
esal
avail

In [34]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for values in emp.values():           #using .values method or fnc in for loop
    print(values)

101
Rahul
45000.45
True

In [38]:
emp={'eid':101,
   'ename':'Rahul',
   'esal':45000.45,
  'avail':True}
for items in emp.items():                 #using .items method or fnc in for loop
    print(items)

('eid', 101)
('ename', 'Rahul')
('esal', 45000.45)
('avail', True)