In [1]:
t1=(10,20,30,40)
t1.insert(1,15)
print(t1)

AttributeError: 'tuple' object has no attribute 'insert'

In [1]:
b=10,20
print(type(b))

<class 'tuple'>

In [2]:
t1=(10,20,30)
t2=t1.copy()
print(t2)

AttributeError: 'tuple' object has no attribute 'copy'

In [7]:
t1=()
t2=10,
t3=10,20,30,40,50
t4=(10,20,30,40,50)
t5=tuple(range(10))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

()
(10,)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [18]:
#iterate tuple object using for and while loop
enames=("Rahul","Sonia","Priya","Modi")
for ename in enames:
    print(ename)
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priya
Modi
Rahul
Sonia
Priya
Modi

In [21]:
months=("jan","feb","mar","apr","june","july","aug")
print(months)
months.append("sept")

('jan', 'feb', 'mar', 'apr', 'june', 'july', 'aug')

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
enames=("Rahul","Sonia","Priya","Modi")
enames.sort()
print(enames)

AttributeError: 'tuple' object has no attribute 'sort'

In [25]:
enames=("Rahul","Sonia","Priya","Modi","Amith","Rajni")
new_names=sorted(enames)
enamess=tuple(new_names)
print(new_names)
print(type(new_names))
print(enamess)
print(type(enamess))

['Amith', 'Modi', 'Priya', 'Rahul', 'Rajni', 'Sonia']
<class 'list'>
('Amith', 'Modi', 'Priya', 'Rahul', 'Rajni', 'Sonia')
<class 'tuple'>

In [30]:
enames=("Rahul","Sonia","Priya","Sonia","Modi","Sonia","Amith","Sonia","Rajni")
print(enames.index("Sonia"))
print(enames.count("Sonia"))

1
4

In [31]:
t1=(10,20,30)
t2=t1.copy()
print(t2)

AttributeError: 'tuple' object has no attribute 'copy'

In [33]:
t1=(10,20,30)
t2=t1
print(t1)
print(t2)

(10, 20, 30)
(10, 20, 30)